<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self';
               script-src 'self' https://cdnjs.cloudflare.com;
               style-src 'self' https://cdnjs.cloudflare.com;
               font-src 'self' https://cdnjs.cloudflare.com;
               img-src 'self' data:;">
    <title>Bebidas</title>
    <link rel="stylesheet" href="../styles.css">
    <script defer src="/your-path-to-fontawesome/js/solid.js"></script>
</head>
<body class="items-body">
    <header>
        <nav>
            <div class="back-container">
                <span>
                    <button type="button" class="btn btn-outline-danger"><a href="../index.html">Volver</a></button>
                </span>
            </div>
        </nav>
        <h2>Bebidas</h2>
    </header>
    <main>
        <section class="items-section">
            <div class="grid-container">
                <div class="grid-item">
                    <div class="card-container">
                        <a href="../views/agregaArticulos.html">
                            <img src="../../assets/agregar.png" alt="Imagen de agregar artículo">
                            <span>Agregar bebida</span>
                        </a>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="card-container">
                        <a href="../views/actualizarBebidas.html">
                            <img src="../../assets/actualizar-datos.png" alt="Imagen de actualizar datos">
                            <span>Actualizar bebida</span>
                        </a>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="card-container">
                        <a href="../views/stockBebidas.html">
                            <img src="../../assets/consulta.png" alt="Imagen de consulta de artículo">
                            <span>Consultar stock</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>