<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caja</title>
    <link rel="stylesheet" href="../styles.css">
    <script defer src="/your-path-to-fontawesome/js/solid.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="back-container">
                <span>
                    <button type="button" class="btn btn-outline-danger"><a href="../index.html">Volver</a></button>
                </span>
            </div>
        </nav>
        <h2>Caja</h2>
    </header>
    <main>
        <section id="cash-section">
            <div class="grid-container">
                <div class="grid-item">
                    <div class="card-container">
                        <form id="opening">
                            <div class="cash-box">
                                <span>
                                    Apertura                            
                                </span>
                            </div>
                            <input id="openInput" type="text">
                        </form>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="card-container">
                        <form id="closing">
                            <div class="cash-box">
                                <span>
                                    Cierre
                                </span>
                            </div>
                            <input id="closeInput" type="text">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>