<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menús</title>
    <link rel="stylesheet" href="../styles.css">
    <!-- <script defer src="/your-path-to-fontawesome/js/solid.js"></script> -->
</head>
<body class="menus-body">
    <header>
        <nav>
            <div class="back-container">
                <span><a href="../index.html">Volver</a></span>
            </div>
        </nav>
         <h2>Menús</h2>
    </header>
    <main>
        <section class="items-section">
            <div class="grid-container">
                <div class="grid-item">
                    <div class="card-container">
                        <a href="../views/agregaMenus.html">
                            <img src="../../assets/menu.png" alt="Imagen de agregar menú">
                            <span>Agregar menú</span>
                        </a>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="card-container">
                        <a href="../views/actualizarMenus.html">
                            <img src="../../assets/actualizar-datos.png" alt="Imagen de actualizar menú">
                            <span>Actualizar menú</span>
                        </a>
                    </div>
                </div>
                <!-- <div class="grid-item">
                    <div class="card-container">
                        <a href="">
                            <img src="../../assets/lista-menu.png" alt="Imagen de lista de menús">
                            <span>Menús disponibles</span>
                        </a>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="card-container">
                        <a href="">
                            <img src="../../assets/eliminar-menu.png" alt="Imagen de elimar menú">
                            <span>Eliminar menú</span>
                        </a>
                    </div>
                </div> -->
            </div>
        </section>
    </main>
</body>
</html>