<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos en curso</title>
    <link rel="stylesheet" href="../styles.css">
    <script defer src="/your-path-to-fontawesome/js/solid.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="back-container">
                <span>
                    <a href="../views/pedidos.html">Volver</a>
                </span>
            </div>
        </nav>
        <h2>Pedidos en curso</h2>
    </header>
    <main>
        <section id="inProgress-section">
            <div class="inProgress-container">
                <div class="barTable-container">
                    <span>mesa1</span>
                </div>
                <div class="barTable-container">
                    <span>mesa2</span>
                </div>
                <div class="barTable-container">
                    <span>mesa3</span>
                </div>
                <div class="barTable-container">
                    <span>mesa4</span>
                </div>
                <div class="barTable-container">
                    <span>mesa5</span>
                </div>
                <div class="barTable-container">
                    <span>mesa6</span>
                </div>
            </div>
        </section>
    </main>
</body>
</html>