<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';
               script-src 'self' https://cdnjs.cloudflare.com;
               style-src 'self' https://cdnjs.cloudflare.com;
               font-src 'self' https://cdnjs.cloudflare.com;
               img-src 'self' data:;">
    <title>Pedido</title>
    <link rel="stylesheet" href="../styles.css">
    <script defer src="/your-path-to-fontawesome/js/solid.js"></script>
</head>

<body id="order-body">
    <header>
        <nav>
            <div class="back-container">
                <span>
                    <!-- <a href="../views/pedidos.html">Volver</a> -->
                    <a href="../index.html">Volver</a>
                </span>
            </div>
        </nav>
        <h2>Pedido</h2>
    </header>
    <main>
        <section id="order-section">
            <form id="order-form">
                <div class="barTable-container">
                    <span>Mesa</span>
                    <select name="mesa" id="mesa">
                        <option value="">Seleccione una opción</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>
                <div class="grid-container">
                    <div class="grid-item">
                        <span>Bebidas</span>
                        <select name="bebidas" id="bebidas">
                            <option value="">Seleccione una opción</option>
                            <option value="aguas">Aguas</option>
                            <option value="gaseosas">Gaseosas</option>
                            <option value="cervezas">Cervezas</option>
                            <option value="tragos">Tragos</option>
                        </select>
                        <select name="bebidasVariantes" id="bebidasVariantes">
                            <option value="">Seleccione bebida</option>
                        </select>
                        <div>
                            <input type="text" id="bebidasCantidad" name="bebidasCantidad" placeholder="Unidades">
                        </div>
                        <div class="button-container">
                            <input type="submit" id="agregarBebida" name="agregarBebida" value="Agregar">
                        </div>
                    </div>
                    <div class="grid-item">
                        <span>Menús</span>
                        <select name="comidas" id="comidas">
                            <option value="">Seleccione una opción</option>
                            <option value="pizzas">Pizzas</option>
                            <option value="sandwichs">Sándwichs</option>
                            <option value="empanadas">Empanadas</option>
                            <option value="entradas">Entradas</option>
                            <option value="postres">Postres</option>
                        </select>
                        <select name="comidasVariantes" id="comidasVariantes">
                            <option value="">Seleccione comida</option>
                        </select>
                        <div>
                            <input type="text" id="comidasCantidad" name="comidasCantidad" placeholder="Unidades">
                        </div>
                        <div class="button-container">
                            <input type="submit" id="agregarComida" name="agregarComida" value="Agregar">
                        </div>
                    </div>
                    <!-- <div class="grid-item">
                        <span>Sandwichs</span>
                        <select name="alimentoSandwitch" id="alimentoSandwich">
                            <option value="">Seleccione una opción</option>
                        </select>
                        <div>
                            <input type="text" id="cantidadSandwich" name="cantidadSandwich" placeholder="Unidades">
                        </div>
                    </div>
                    <div class="grid-item">
                        <span>Empanadas</span>
                        <select name="alimentoEmpanadas" id="alimentoEmpanadas">
                            <option value="">Seleccione una opción</option>
                        </select>
                        <div>
                            <input type="text" id="cantidadEmpanadas" name="cantidadEmpanadas" placeholder="Unidades">
                        </div>
                    </div> -->
                    <!-- <div class="grid-item">
                        <span>Entradas</span>
                        <select name="alimentoEntradas" id="alimentoEntradas">
                            <option value="">Seleccione una opción</option>
                        </select>
                        <select name="comidasVariantes" id="comidasVariantes">
                            <option value="">Seleccione comida</option>
                        </select>
                        <div>
                            <input type="text" id="cantidadEntradas" name="cantidadEntradas" placeholder="Unidades">
                        </div>
                    </div>
                    <div class="grid-item">
                        <span>Postres</span>
                        <select name="alimentoPostres" id="alimentoPostres">
                            <option value="">Seleccione una opción</option>
                        </select>
                        <select name="comidasVariantes" id="comidasVariantes">
                            <option value="">Seleccione comida</option>
                        </select>
                        <div>
                            <input type="text" id="cantidadPostres" name="cantidadPostres" placeholder="Unidades">
                        </div>
                    </div> -->
                </div>
                <!-- <div class="button-container">
                    <input type="submit" id="agregarPedido" name="agregarPedido" value="Enviar Pedido">
                </div> -->
            </form>
            <form id="order">
                <div class="order-container">
                    <table id="order-table"></table>
                    <div id="total-container"></div>
                </div>
                <div class="button-container">
                    <input type="submit" id="agregarPedido" name="agregarPedido" value="Enviar Pedido">
                </div>
            </form>
        </section>
    </main>
    <script type="module" src="app.js"></script>
    <script type="module" src="./tablaPedido.js"></script>
    <script type="module" src="../alimentos.js"></script>
</body>

</html>