<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../styles.css">
    <script defer src="/your-path-to-fontawesome/js/solid.js"></script>
</head>

<body>
    <header>
        <nav>
            <span><a href="../index.html">Volver</a></span>
        </nav>
        <h2>Productos</h2>
    </header>
    <main>
        <div class="item-container">
            <div class="item"><a href="">Agregar artículo</a></div>
            <div class="item"><a href="">Actualizar artículo</a></div>
            <div class="item"><a href="">Consultar stock</a></div>
            <div class="item"><a href="">Eliminar artículo</a></div>
        </div>
      
    </main>
</body>

</html>