@font-face {
  font-family: 'Poller One';
  src: url('../assets/fonts/poller-one-v25-latin-regular.woff2') format('woff2');
}



/* -----------------------------------------------------------------------------Estilos generales-----------------------------------------------------------------------------*/
body {
  background-image: url("../assets/portada.jpg");
  background-size: cover;
  font-family: sans-serif;
  color: rgb(11, 12, 11);


  header {
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 80px;
      background-color: rgb(2, 2, 2);
      opacity: 0.8;
      color: rgb(255, 255, 255);


      /* #containerLogo {
        img {
          width: 80px;
          height: 80px;
        }
      } */
      /* #containerUser {
        span {
          font-family: "Poller One", sans-serif;
        }
      } */
      .containerDate {
        span {
          font-family: "Poller One", sans-serif;
        }
      }

      .back-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100px;
        border-radius: 12px;
        background-color: rgb(2, 2, 2);

        a.buttonBack {
          -webkit-app-region: no-drag;
          display: flex;
          flex-direction: row;
          padding: 8px 12px;
          border: 1px solid rgb(218, 10, 90);
          border-radius: 8px;
          color: rgb(255, 255, 255);
          text-decoration: none;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: box-shadow 0.1s ease;
        }

        a.buttonBack:hover {
          background-color: rgb(218, 10, 90);
        }
      }
    }

    h1,
    h2 {
      margin: 100px auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 380px;
      font-size: 30px;
      font-family: "Poller One", sans-serif;
      background-color: rgb(2, 2, 2);
      opacity: 0.8;
      color: rgb(255, 255, 255);
    }
  }

  main {
    min-height: 65vh;

    .grid-container {
      width: auto;
      min-height: 450px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
      gap: 10px;
      justify-content: center;
      align-items: center;

      .grid-item {
        margin: auto;
        width: 200px;
        height: auto;
        font-family: sans-serif;
        border: 1px solid rgb(218, 10, 90);
      }

      .card-container {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
          width: 200px;
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          transition: transform 0.3s ease, background-color 0.3s ease;

          img {
            max-height: 100px;
          }

          span {
            text-align: center;
            margin: 20px;
            font-family: "Poller One", sans-serif;
            font-size: 18px;
          }
        }

        a:hover {
          box-shadow:
            0 0 15px rgb(255, 255, 255, 0.6),
            0 0 20px rgb(255, 255, 255, 0.5),
            0 0 25px rgb(255, 255, 255, 0.4);
        }
      }
    }
  }

}

/* -----------------------------------------------------------------------------Estilos menú principal------------------------------------------------------------------------*/
header {
  #titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

main {
  #main-menu {
    margin: auto;
    max-width: 1000px;
    background-color: rgb(2, 2, 2);
    opacity: 0.8;

    .card-container {
      background-color: rgb(200, 241, 103);
      opacity: 0.8;

      span {
        color: black;
      }
    }
  }
}

/* ----------------------------------------------------------------------------Estilos de pedidos--------------------------------------------------------------------------*/
main {
  #orders-section {
    margin: auto;
    max-width: 1100px;
    background-color: rgb(2, 2, 2);
    opacity: 0.8;

    .card-container {
      background-color: rgb(200, 241, 103);
      opacity: 0.8;

      span {
        color: black;
      }
    }
  }
}

/* ---------------------------------------------------------------------Estilos tipo de pedido(pagina anulada)---------------------------------------------------------------*/
/* main {
  #orders-section {
    .card-container {
      background-image: url("../../assets/mesa.jpg");
    }
  }
} */

/* -------------------------------------------------------------------------Estilos de pedido(mesas)-------------------------------------------------------------------------*/
#order-body {
  background-image: url("../assets/mesas.jpg");
  background-size: cover;

  main {
    #order-section {
      background-color: rgb(2, 2, 2);
      opacity: 0.8;
      margin: auto;
      width: auto;
      border: 1px solid black;
      border-radius: 12px;
      color: white;

      .barTable-container {
        max-width: 250px;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(218, 10, 90);
      }

      .grid-container {
        height: auto;

        .grid-item {
          min-width: 250px;

          .select-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 250px;
            height: auto;

            #alimentosVariantes::first-letter {
              text-transform: uppercase;
            }
          }
        }

        div {
          input {
            max-width: 76px;
          }
        }
      }

      .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px;

        .addButton {
          display: flex;
          flex-direction: row;
          padding: 8px 12px;
          border: 1px solid rgb(10, 107, 218);
          border-radius: 8px;
          background-color: black;
          color: rgb(255, 255, 255);
          text-decoration: none;
        }

        .addButton:hover {
          background-color: rgb(10, 107, 218);
        }

        .sendButton {
          display: flex;
          flex-direction: row;
          padding: 8px 12px;
          border: 1px solid rgb(56, 173, 27);
          border-radius: 8px;
          background-color: black;
          color: rgb(255, 255, 255);
          text-decoration: none;
        }

        .sendButton:hover {
          background-color: rgb(56, 173, 27);
        }
      }

      .order-container {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
          font-family: "Poller One", sans-serif;
          background-color: rgb(2, 2, 2);
          opacity: 0.8;
          color: rgb(255, 255, 255);
        }

        .table-container {
          #order-table {
            width: 800px;
            border: 1px solid rgb(218, 10, 90);

            th,
            td {
              text-align: center;
              border: 1px solid rgb(218, 10, 90);
            }
          }
        }

        #total-container {
          margin-top: 10px;
          border: 1px solid rgb(218, 10, 90);
          ;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------Estilos de pedido(barra)--------------------------------------------------------------------------*/
#barra-body {
  background-image: url("../assets/barra2.jpg");
  background-size: cover;

  #counter-section {
    background-color: rgb(2, 2, 2);
    opacity: 0.8;
    margin: auto;
    max-width: 1200px;
    min-height: 800px;
    border: 1px solid black;
    border-radius: 12px;
    color: white;

    #orderBar-form {
      .grid-container {
        .grid-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 50px auto;
          width: 300px;
          height: auto;
          font-family: sans-serif;
          border: 1px solid rgb(218, 10, 90);

          .select-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;

            #alimentosCantidadBarra {
              max-width: 76px;
            }
          }
        }
      }

      .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px;

        .addButton {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 8px 12px;
          border: 1px solid rgb(10, 107, 218);
          border-radius: 8px;
          background-color: black;
          color: rgb(255, 255, 255);
          text-decoration: none;
        }

        .addButton:hover {
          background-color: rgb(10, 107, 218);
        }
      }
    }

    #sendOrder-form {
      .aggregate-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px auto;

        h3 {
          font-family: "Poller One", sans-serif;
          background-color: rgb(2, 2, 2);
          opacity: 0.8;
          color: rgb(255, 255, 255);
        }

        .table-container {
          max-width: 1200px;

          #orderBarTable {
            width: 800px;
            border: 1px solid rgb(218, 10, 90);

            th,
            td {
              text-align: center;
              border: 1px solid rgb(218, 10, 90);
            }
          }
        }
      }

      .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px;
      }

      .sendButton {
        display: flex;
        flex-direction: row;
        padding: 8px 12px;
        border: 1px solid rgb(56, 173, 27);
        border-radius: 8px;
        background-color: black;
        color: rgb(255, 255, 255);
        text-decoration: none;
      }

      .sendButton:hover {
        background-color: rgb(56, 173, 27);
      }
    }
  }
}


/* ---------------------------------------------------------------------------Estilos de bebidas----------------------------------------------------------------------------*/
.items-body {
  background-image: url("../assets/bebidas.jpg");
  background-size: cover;

  .items-section {
    margin: auto;
    max-width: 1100px;
    background-color: rgb(2, 2, 2);
    opacity: 0.8;

    .grid-container {
      .grid-item {
        .card-container {
          background-color: rgb(200, 241, 103);
          opacity: 0.8;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }

    }
  }
}


/* -----------------------------------------------------------------------------Estilos de menús------------------------------------------------------------------------------*/
.menus-body {
  .items-section {
    margin: auto;
    max-width: 1100px;
    background-color: rgb(2, 2, 2);
    opacity: 0.8;

    .grid-container {
      .grid-item {
        .card-container {
          background-color: rgb(200, 241, 103);
          opacity: 0.8;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }

    }
  }
}

/* -----------------------------------------------------------------------------Estilos de agrega bebidas-------------------------------------------------------------------*/
#addItems-section {
  #items-form {
    margin: auto;
    max-width: 1100px;

    .grid-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: rgb(2, 2, 2);
      opacity: 0.8;

      .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 20px;

        span {
          color: white;
        }

        .title-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: auto;

          .title {
            font-size: 22px;
          }
        }

        .select-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 20px;

          #tipoDeBebidas {
            margin: 15px;
            border: 1px solid rgb(218, 10, 90);
          }

          .box-container {
            span {
              padding: 15px;
              font-style: italic;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid rgb(218, 10, 90);
          }
        }

        .inputs-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 5px 0;

        }
      }
    }
  }

  .aggregate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;

    h3 {
      font-family: "Poller One", sans-serif;
      background-color: rgb(2, 2, 2);
      opacity: 0.8;
      color: rgb(255, 255, 255);
    }

    .table-container {
      max-width: 1100px;

      #aggregate-table {

        width: 1100px;
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        opacity: 0.8;

        th {
          border: 1px solid black;
        }

        tr {
          border: 1px solid black;

          td {
            border: 1px solid black;
          }
        }
      }

      #aggregate-table1 {

        width: 1100px;
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        opacity: 0.8;

        th {
          border: 1px solid black;
        }

        tr {
          border: 1px solid black;

          td {
            border: 1px solid black;
          }
        }
      }
    }
  }
}



/* -----------------------------------------------------------------------------Estilos de caja-------------------------------------------------------------------------------*/
#cash-section {
  margin: auto;
  max-width: 1100px;
  background-color: rgb(0, 0, 0);
  opacity: 0.8;

  .grid-container {
    .grid-item {
      .card-container {
        background-color: rgb(7, 7, 7);

        .cash-box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 10px auto;
          background-color: rgb(200, 241, 103);
          width: 110px;

          span {
            margin: auto;
            font-family: "Poller One", sans-serif;
            font-size: 18px;
          }
        }

        input {
          width: 198px;
          background-color: rgb(0, 0, 0);
          border: 1px solid rgb(218, 10, 90);
          color: white;
        }

        .button-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin: auto;
          width: auto;
        }

      }
    }
  }

}

/* -----------------------------------------------------------------------------Estilos de footer-----------------------------------------------------------------------------*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  background-color: rgb(2, 2, 2);
  opacity: 0.8;
  color: rgb(255, 255, 255);

  .brand-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Poller One", sans-serif;
  }
}


/* ----------------------------------------------------------------------------Estilos de delivery----------------------------------------------------------------------------*/
.containerDelivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 100px auto;
    text-align: center;
    font-size: 40px;
    color: rgb(10, 10, 10);
    background-color: white;
  }

}


/* ---------------------------------------------------------------------Estilos para cambio en display view---------------------------------------------------------------------*/